#bag{
    width: 200px;
    height: 500px;
    margin: 0 auto;
    background:url(images/bag.png) center no-repeat;
    background-size: 80%;
}
#bag-health{
    width: 200px;
    border: 2px solid black;
    margin: 0 auto 20px auto;
}
#bag-health div{
    height: 20px;
    background: crimson;
}
#game-controls{
    width: 120px;
    margin: 0 auto;

}
#bag.burst{
    background: url(images/bag-burst.png);
}